<!--
  Generated template for the SigninPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
  <!-- <ion-slides pager>

  <ion-slide class="slide_image">
       <img src="assets/imgs/lola cafe.png" alt="">
       </ion-slide>

  </ion-slides>-->
   
 
    <img src="assets/imgs/CvtCentec.png" alt="">  
   <p><button ion-button block color="CVT" (click)="CreateAccount()">
    Criar conta!!!
  </button></p>

 <p><button ion-button block color= "CVT" (click)="signInWithEmailPage()">
    Entrar com e-mail e senha?!
  </button></p>

	<!--<form #form="ngForm" novalidate>
    <ion-list>

      <ion-item>
        <ion-label stacked>E-mail</ion-label>
        <ion-input type="text" name="email" [(ngModel)]="user.email" #email="ngModel" required></ion-input>
      </ion-item>
      <ion-item *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
        O campo é obrigatório
      </ion-item>

      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required></ion-input>
      </ion-item>
      <ion-item *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
        O campo é obrigatório
      </ion-item>

      </ion-list>

      	<button ion-button block color = "primary" [disabled]= "!form.form.valid" (click) = "signIn()" >Entrar</button>
</form>
      	<button ion-button block clear margin-top (click)="ResetPassword()">
      		Esqueci minha Senha
      	</button>
      	<button ion-button block clear (click) ="CreateAccount()">
      		Criar Conta
      	</button>-->

      </ion-content>
